<p>Below are some recent articles I've written. You can see older posts in the archived, categorized by year: <a href="/journal/2006/">2006</a>–<a href="/journal/2007/">2007</a>–<a href="/journal/2008/">2008</a>. You may also be interested in my <a href="/blog/">old blog</a>.</p>

<% sorted_articles.first(5).each do |article| %>
<div class="section">
	<h2><%= article.title %> (<%= article.created_at.mon.to_abbr_mon_s %> <%= article.created_at.mday %>)</h2>

	<p><%= article.excerpt %> <a rel="bookmark" href="<%= article.path %>" title="Permanent link to this article">Read more</a>.</p>
</div>
<% end %>
