<div class="section" id="recent-posts">
	<h3>Recent Posts</h3>

<% sorted_articles.first(3).each do |article| %>
	<h4><%= article.title %> (<%= article.created_at.mon.to_mon_s %> <%= article.created_at.mday.ordinal %>)</h4>
	<p><%= article.excerpt %> <a rel="bookmark" href="<%= article.path %>" title="Permanent link to this article">Read more</a>.</p>
<% end %>
</div>

<div class="section" id="older-posts">
	<h3>Older Posts</h3>

	<ul>
<% sorted_articles[3..-1].first(5).each do |a| %>
		<li><%= link_to_unless_current(a.path, a.title, :rel => 'bookmark') %> (<%= a.created_at.mon.to_mon_s %> <%= a.created_at.mday %>)</li>
<% end %>
	</ul>
</div>

<div class="section" id="archives">
	<h3>Archives</h3>

	<p>All of Stoneship's articles are grouped by year in the archives, which are linked below. You may also be interested in the <a href="/blog/">old blog</a>, which is still around because some articles on there are still relevant.</p>

	<ul>
		<li><a href="/journal/2008/">2008</a></li>
		<li><a href="/journal/2007/">2007</a></li>
		<li><a href="/journal/2006/">2006</a></li>
	</ul>
</div>
