<p><a href="http://cho.cyan.com/chat/" title="Cyan Chat">CyanChat</a> is a place where Myst and Uru fans can come and chat. This page lists all clients for CyanChat.</p>

<div id="clients" class="section">
	<h3>The Clients <%= permalink('clients') %></h3>

	<p>It is said that <em>Magenta</em> is the best Windows client out there, and that <em>BlackKnight Consulting</em>&#8217;s client is the best Mac OS X one. However, you may like other clients better. Your mileage may vary. </p>

	<div id="clients-cross-platform" class="section">
		<h4>Cross-platform <%= permalink('clients-cross-platform') %></h4>
		<ul>
			<li><a href="http://cho.cyan.com/chat/">Standard Chat</a> (requires Java)</li>
			<li><a href="http://sourceforge.net/projects/perlccc/">PerlCCC</a> (requires Perl and Tk)</li>
			<li><a href="http://www.cuvou.com/?module=pccc/"><abbr title="Perl CyanChat Client">PCCC</abbr>/Perl CyanChat Client</a> (requires Perl and Tk)</li>
		</ul>
	</div>

	<div id="clients-windows" class="section">
		<h4>Windows <%= permalink('clients-windows') %></h4>
		<ul>
			<li><a href="http://www.fadedtwilight.org/Magenta/">Magenta</a></li>
			<li><a href="http://www.superiorserve.com/ccmyke/">CCMyke</a></li>
			<li><a href="/pub/myst/cyanchatclients/CyanChat.exe">The World&#8217;s Cyan Chat Client</a> - Direct download</li>
			<li><a href="http://paradox22.wordpress.com/pcsccc/">PCSCCC</a> (requires .NET 2.0) <strong>New!</strong></li>
		</ul>
	</div>

	<div id="clients-mac-os" class="section">
		<h4>Mac OS <%= permalink('clients-mac-os') %></h4>
		<ul>
			<li><a href="/pub/myst/cyanchatclients/cyanchat_202_universal.dmg">BlackKnight Cyan Chat Client</a> - Direct download (Mac OS X Universal) <strong>New!</strong></li>
			<li><a href="/pub/myst/cyanchatclients/rotochat.sit">RotoChat</a> - Direct download (Mac OS 9)</li>
			<li><a href="/pub/myst/cyanchatclients/MacCyanChat.sit">MacCyanChat</a> - Direct download (Mac OS 9)</li>
		</ul>
	</div>

	<div id="clients-miscellaneous" class="section">
		<h4>Miscellaneous <%= permalink('clients-miscellaneous') %></h4>
		<ul>
			<li><a href="/software/yaccc/">yaccc</a> (*nix; requires Python)</li>
			<li><a href="/pub/myst/cyanchatclients/CCAnywhere.B_04.ARM.zip">The World&#8217;s CyanChat Anywhere!</a> - Direct download (Pocket PC)</li>
		</ul>
	</div>
</div>

<div id="miscellaneous-useful-stuff" class="section">
	<h3>Miscellaneous Useful Stuff <%= permalink('miscellaneous-useful-stuff') %></h3>

	<p>Cuvou has written two CyanChat Perl modules: <a href="http://search.cpan.org/~kirsle/Net-CyanChat-0.02/lib/Net/CyanChat.pm">Net::CyanChat</a> (for client development) and <a href="http://search.cpan.org/~kirsle/Net-CyanChat-0.02/lib/Net/CyanChat/Server.pm">Net::CyanChat::Server</a> (for server development). There are merely a modules and not fully functional clients or servers, so it is probably only useful for developers.</p>
	<p>Paradox is writing a <a href="http://www.codeplex.com/CyanChat">CyanChat server and client</a> in C#. At the moment of writing, no application downloads are available, but you can download the server source and compile it yourself (if you're feeling adventurous).</p>
	<p>And don't forget to check out the <a href="http://cyanchat.dnijazzclub.com/">CyanChat Quote Database (CCQDB)</a>!</p>
</div>

<div id="disclaimer" class="section">
	<h3>Disclaimer <%= permalink('disclaimer') %></h3>

	<p>I do not maintain any of these CyanChat clients, servers or tools, except for <a href="http://stoneship.org/software/yaccc/">yaccc</a> which I wrote myself. If you need help with any of the above clients, please contact the author(s) of the client.</p>
</div>
