<p>This is a gallery containing screenshots of web sites I think are pretty. It's quite bare-bones, really: it's not interactive at all, you can't vote, there are no ratings, there are no comments, and you can't submit designs either. All you can do is watch.</p>

<p>If one of your designs is included in this gallery, and you're somehow offended, <a href="/about/#contact">contact me</a> and I'll take it off. Let's hope that'll never happen&mdash;after all, this is basically free advertising, and who could refuse <em>that</em>?</p>

<ul class="gallery-large">
<% @assets.select { |asset| asset.kind == 'web_gallery_image' }.sort_by { |image| image.screenshot_taken_on }.reverse.each do |image| %>
	<li>
		<a href="<%= image.reps(:default).path %>">
			<img src="<%= image.reps(:large).path %>">
		</a>
		Screenshot taken on <strong><%= image.screenshot_taken_on %></strong><br>
		<a href="<%= image.address %>">Visit <%= image.address.sub(/^http:\/\//, '') %></a>
	</li>
<% end %>
</ul>
