<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head profile="http://gmpg.org/xfn/11">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title>Stoneship - <%=h @page.title %></title>

		<link rel="stylesheet" type="text/css" href="/media/style/stoneship21-screen.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/media/style/stoneship21-print.css" media="print">

		<link rel="alternate" type="application/atom+xml" title="Feed (blog posts + links)" href="http://feeds.feedburner.com/stoneship">
		<link rel="alternate" type="application/atom+xml" title="Feed (blog posts only)"    href="http://feeds.feedburner.com/stoneship_blog">
		<link rel="alternate" type="application/atom+xml" title="Feed (links only)"         href="http://feeds.feedburner.com/stoneship_links">

		<!-- why run your own OpenID server when there's a much better one around? -->
		<link rel="openid.server" href="http://www.myopenid.com/server">
		<link rel="openid.delegate" href="http://ddfreyne.myopenid.com/">
	</head>
	<body<%= @page.page_id ? %[ id="#{@page.page_id}"] : '' %>>
		<div id="header">
			<div class="header-wrapper">
				<ol id="nav">
					<li><%= link_to_unless_current('/',           'home'      ) %></li>
					<li><%= link_to_unless_current('/journal/',   'journal'   ) %></li>
					<li><%= link_to_unless_current('/about/',     'about'     ) %></li>
					<li><%= link_to_unless_current('/software/',  'software'  ) %></li>
					<li><%= link_to_unless_current('/webdesign/', 'web design') %></li>
					<li><%= link_to_unless_current('/myst/',      'myst'      ) %></li>
				</ol>
				<h1><a href="/" rel="home">Stoneship</a></h1>
			</div>
		</div>
<% if @page.display_breadcrumbs? %>
		<div class="breadcrumbs">
			<div>
				<p>You are here: <%= breadcrumbs :separator => ' <span class="separator">&gt;</span> ' %></p>
			</div>
		</div>
<% end %>
