<div itemscope itemtype="http://data-vocabulary.org/Review">
    <div id="header">
        <h1>
            <%= @item[:subtype].capitalize %> review:
            <span itemprop="itemreviewed"><%= @item[:title] %></span>
        </h1>
    </div>
    <div id="content">
        <meta itemprop="reviewer" content="Denis Defreyne">
        <meta itemprop="rating" content="<%= @item[:rating] %>">
        <p class="meta">
            Reviewed on
            <time itemprop="dtreviewed" datetime="<%= @item[:published_on] %>">
                <%= format_date(@item[:published_on]) %>
            </time>
        </p>
        <div itemprop="description">
            <%= yield %>
        </div>
        <p>
            <strong>Rating</strong>:
            <%= rating_stars_for(@item) %>
        </p>
    </div>
</div>
